/* main */
* {font-family: 'Open Sans', sans-serif;
}

html, body, main {
  background-color: #b2e6ff;
  max-width: 100%;
  max-height: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  clear: both;
}

/* header */
hr {
  height: 5px;
  background: #244663;
  border-color: #244663;
  border-radius: 5px;
}

.header_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  color: #244663;
}

.udacity_logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  padding-top: 20px;
}

/* body */

.large_image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #244663;
  margin: 0 auto;
}

.about_me_text {
  text-align: center;
  color: #244663;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* featured */
h2 {
  clear: both;
  text-align: center;
  color: #244663;
  margin: 0 auto;
  padding: 20px;
}

.featured_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  margin: 0 auto;
  float: left;
  max-width: 300px;
}

.featured_text {
  width: 100%;
  font-weight: bold;
  color: #244663;
}

.container_image {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  object-fit: fill;
  border: 2px solid #244663;
}

/* footer */
footer {
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #244663;
  padding-top: 25px;
}
